<html>
    <head>
        <title>Cape's blog</title>
    </head>
    <body>
        <div>
            <hi><a href="/">Django Girls Blog</a></hi>
        </div>

        <div>
            <p>published: 19.06.2022, 12:00</p>
            <h2><a href="">My first post</a></h2>
            <p>こんにちは！よろしくお願いします。</p>
        </div>

        <div>
            <p>公開日: 2022/06/19, 12:00</p>
            <h2><a href="">2番目の投稿</a></h2>
            <p>こんにちは！よろしくお願いします。</p>
        </div>
    </body>
</html>